form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 100px 200px;
}

.divForm{
    display: flex;
    flex-direction: column;

    label{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
    }

    input{
        border-radius: 8px;
        padding: 8px;
        font-size: 18px;
    }
}