header{
    background-color: #DF2E3F ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 30%;
}

nav{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.link {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: 600;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.link:hover::after {
    width: 100%;
    left: 0;
}


.principal{
    background: white;
    color: #DF2E3F;
    padding: 12px 24px;
    border-radius: 8px;
}